/*
 * Z-INDEX ORDER
 * 5 - heading
 * 7 - progress bar
 */

body {
  margin: 0;
  font-size: 0;
}
.days-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}
.days-wrapper::-webkit-scrollbar {
  display: none;
}
.scrolling-container {
  position: absolute;
  top: 0;
  left: 0;
}
.heading {
  width: 100vw;
  max-width: 500px;
  text-align: center;
  z-index: 5;
  padding: 16px 0;
  margin-top: 57px;
  transition: transform .5s;
}
.heading h3, .heading h4 {
  margin: 0;
}
.heading .week-day-heading {
  margin-top: 8px;
  color: var(--secondary-text);
}
.progress-bar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 7;
  background-color: var(--app-bar);
  padding: 8px 16px;
  height: 52px;
  box-sizing: border-box;
  align-items: center;
  transition: padding-top .2s, height .2s;
}
.progress-line-showing .progress-bar {
  padding-top: 13px;
}
.progress-bar button {
  position: absolute;
  right: 8px;
}
.progress-bar > span {
  font-size: 16px;
  color: var(--secondary-text);
}
.progress-bar > span em {
  font-style: normal;
  color: var(--primary-text);
}
.progress-bar .period-span {
  color: var(--primary-text);
}
.progress-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--status-bar);
  transition: height .2s;
}
.progress-line::before {
  content: '';
  display: block;
  width: var(--progress);
  height: 100%;
  background-color: var(--color);
}
.progress-line-showing .progress-line {
  height: 5px;
}
.day {
  width: 500px;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  min-height: 100vh;
  box-sizing: border-box;
  white-space: normal;
  opacity: 0.6;
  padding-top: 174px;
  transition: opacity .2s;
}
.ios .day {
  cursor: pointer;
}
.day.selected {
  opacity: 1;
}
.day:not(.selected) > * {
  pointer-events: none;
}
.day.noschool {
  padding-top: 200px;
  text-align: center;
}
.day.noschool::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 300px;
  background-image: url('../images/no-school-sheep.png');
  background-size: 200px;
  opacity: 0;
  z-index: -1;
  transition: all .5s;
}
.day.noschool.selected::after {
  opacity: 1;
}
@media (max-width: 500px) {
  .day {
    width: 100vw;
  }
}
button.contained.icon.fab {
  position: absolute;
}
.back-to-top {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
