* {
  -webkit-tap-highlight-color: transparent;
}
.ios * {
  cursor: pointer;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 0;
  line-height: 1;
  --primary: rgb(255, 89, 89);
  --switch-on-track: rgba(255, 89, 89, 0.5);
  --primary-selected: rgba(255, 89, 89, 0.16);
  --go-in: cubic-bezier(0.0, 0.0, 0.2, 1);
  --go-out: cubic-bezier(0.4, 0.0, 1, 1);
  --go-places: cubic-bezier(0.4, 0.0, 0.2, 1);
  --border-radius: 4px;
  --icon-theme: url('../images/icons-theme.svg');
  background-color: var(--background);
}
.light {
  --status-bar: #E0E0E0;
  --app-bar: #F5F5F5;
  --background: #FAFAFA;
  --dialogs: #FFFFFF;
  --primary-text: rgba(0, 0, 0, 0.87);
  --secondary-text: rgba(0, 0, 0, 0.54);
  --disabled-text: rgba(0, 0, 0, 0.38);
  --active-icon: rgba(0, 0, 0, 0.54);
  --inactive-icon: rgba(0, 0, 0, 0.38);
  --off-select-hover: rgba(0, 0, 0, 0.04);
  --off-select-focus: rgba(0, 0, 0, 0.12);
  --on-select-hover: rgba(255, 89, 89, 0.08);
  --on-select-focus: rgba(255, 89, 89, 0.12);
  --switch-off-track: rgba(0, 0, 0, 0.38);
  --switch-off-thumb: #FAFAFA;
  --ripple: rgba(0, 0, 0, 0.16);
  --input-back: rgba(0, 0, 0, 0.06);
  --input-hover: rgba(0, 0, 0, 0.15);
  --hover: rgba(0, 0, 0, 0.04);
  --primary-ripple: rgba(255, 89, 89, 0.12);
  --icon-url: url('../images/icons-black.svg');
  --line: rgba(0, 0, 0, 0.12);
  color: var(--primary-text);
}
.dark {
  --status-bar: #000000;
  --app-bar: #212121;
  --background: #303030;
  --dialogs: #424242;
  --primary-text: rgb(255, 255, 255);
  --secondary-text: rgba(255, 255, 255, 0.7);
  --disabled-text: rgba(255, 255, 255, 0.5);
  --active-icon: rgb(255, 255, 255);
  --inactive-icon: rgba(255, 255, 255, 0.5);
  --off-select-hover: rgba(255, 255, 255, 0.08);
  --off-select-focus: rgba(255, 255, 255, 0.24);
  --on-select-hover: rgba(255, 89, 89, 0.16);
  --on-select-focus: rgba(255, 89, 89, 0.24);
  --switch-off-track: rgba(255, 255, 255, 0.3);
  --switch-off-thumb: #BDBDBD;
  --ripple: rgba(255, 255, 255, 0.32);
  --input-back: rgba(255, 255, 255, 0.1);
  --input-hover: rgba(255, 255, 255, 0.2);
  --hover: rgba(255, 255, 255, 0.08);
  --primary-ripple: rgba(255, 89, 89, 0.24);
  --icon-url: url('../images/icons-white.svg');
  --line: rgba(255, 255, 255, 0.24);
  color: var(--primary-text);
}
.sharp {
  --border-radius: 0;
}
.roundish {
  --border-radius: 2px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
  font-weight: 400;
}
h1, .h1 {
  font-weight: 300;
  font-size: 6rem;
  letter-spacing: -0.09375rem;
}
h2, .h2 {
  font-weight: 300;
  font-size: 3.75rem;
  letter-spacing: -0.03125rem;
}
h3, .h3 {
  font-size: 3rem;
}
h4, .h4 {
  font-size: 2.125rem;
  letter-spacing: 0.015625rem;
}
h5, .h5 {
  font-size: 1.5rem;
}
h6, .h6 {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.009375rem;
}
.subtitle1 {
  font-size: 1rem;
  letter-spacing: 0.009375rem;
}
.body1, .textfield, .radios, .switch {
  font-size: 1rem;
  letter-spacing: 0.03125rem;
}
.caption {
  font-size: 0.875rem;
  letter-spacing: 0.025rem;
}

.icon {
  background-image: var(--icon-url);
  background-repeat: no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  background-position: 0 calc(-24px * var(--icon-pos));
}
.icon.active {
  background-image: var(--icon-theme);
}
button.icon {
  background-color: transparent;
  border: none;
  height: 24px;
  width: 24px;
  box-sizing: content-box;
  border-radius: 50%;
  background-size: 24px;
  padding: 12px;
  cursor: pointer;
}
button.icon:focus {
  outline: none; /* TEMP */
}
span.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  background-size: 24px;
}
.icon.ugwa { --icon-pos: 0; }
.icon.appearance { --icon-pos: 1; }
.icon.periods { --icon-pos: 2; }
.icon.locales { --icon-pos: 3; }
.icon.barcodes { --icon-pos: 4; }
.icon.staff { --icon-pos: 5; }
.icon.clubs { --icon-pos: 6; }
.icon.last-psa { --icon-pos: 7; }
.icon.about { --icon-pos: 8; }
.icon.credits { --icon-pos: 9; }
.icon.alternate { --icon-pos: 10; }
.icon.transparent { --icon-pos: 11; }
.icon.menu { --icon-pos: 12; }
.icon.close { --icon-pos: 13; }

button.button {
  display: inline-block;
  -webkit-appearance: none;
  background: none;
  border: none;
  font: inherit;
}
a.button {
  text-decoration: none;
  color: inherit;
}
.button, a.button, button.button {
  font-size: 0.875rem;
  letter-spacing: 0.046875rem;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: var(--border-radius);
  transition: all;
  min-width: 64px;
  padding: 0 16px;
  box-sizing: border-box;
  height: 36px;
  line-height: 36px;
  transition: all .2s var(--go-places);
}
.button:focus {
  outline: none; /* TEMP */
}
button.contained {
  color: white;
  background-color: var(--primary);
}
button.contained.icon {
  background-clip: padding-box;
  background-image: none;
}
button.contained.icon.fab {
  padding: 16px;
  position: fixed;
  bottom: 16px;
  right: 16px;
}
button.contained material-ripple {
  background-color: rgba(255, 255, 255, 0.32);
}
.button.text {
  color: var(--primary);
}
.button.text material-ripple {
  background-color: var(--primary-ripple);
}

.shadow1 {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.14), 0 2px 2px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.shadow2, .contained {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 3px 4px rgba(0, 0, 0, 0.12), 0 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.shadow4 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 4;
}
.shadow6, .contained.fab {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.14), 0 1px 18px rgba(0, 0, 0, 0.12), 0 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.shadow8, .contained:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 3px rgba(0, 0, 0, 0.12), 0 4px 15px rgba(0, 0, 0, 0.2);
  z-index: 8;
}
.shadow12, .contained.fab:hover {
  box-shadow: 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12), 0 7px 8px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

material-ripple {
  background-color: var(--ripple);
}

.radios .title {
  display: inline-block;
  margin-top: 16px;
}
.radio {
  display: flex;
  align-items: center;
  height: 48px;
}
.radio:focus {
  outline: none;
}
.radio .radio-button {
  display: inline-block;
  border-radius: 50%;
  padding: 10px;
  position: relative;
  overflow: hidden;
  margin-left: -8px;
  margin-right: 24px; /* 8px is more symmetrical but material is weird */
  cursor: pointer;
  font-size: 0;
}
.radio material-ripple {
  background-color: var(--primary);
  opacity: 0.3;
}
.radio .radio-icon {
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  border: 2px solid var(--active-icon);
  position: relative;
  transition: border-color .1s var(--go-places);
}
.radio .radio-icon::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform-origin: center;
  transform: scale(0);
}
.radio .radio-icon::after {
  background-color: var(--primary);
  transition: transform .1s var(--go-out);
}
.radio.checked .radio-icon {
  border-color: var(--primary);
}
.radio.checked .radio-icon::after {
  transform: scale(1);
  transition: transform .1s var(--go-in);
}
.radio .radio-button:hover {
  background-color: var(--off-select-hover);
}
.radio:not(.mouse-focused):focus .radio-button {
  background-color: var(--off-select-focus);
}
.radio.checked .radio-button:hover {
  background-color: var(--on-select-hover);
}
.radio.checked:not(.mouse-focused):focus .radio-button {
  background-color: var(--on-select-focus);
}

.switch {
  display: flex;
  align-items: center;
  height: 48px;
  position: relative;
}
.switch:focus {
  outline: none;
}
.switch .track {
  position: absolute;
  right: 18px;
  width: 36px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--switch-off-track);
  transition: background-color .1s var(--go-places);
  cursor: pointer;
}
.switch .thumb {
  display: block;
  margin-top: -2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--switch-off-thumb);
  transition: all .1s var(--go-places);
}
.switch .rippler {
  display: block;
  border-radius: 50%;
  margin: -14px;
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
}
.switch .track:hover .rippler {
  box-shadow: inset 0 0 0 14px var(--off-select-hover);
}
.switch:not(.mouse-focused):focus .rippler {
  box-shadow: inset 0 0 0 14px var(--off-select-focus);
}
.switch.checked .track {
  background-color: var(--switch-on-track);
}
.switch.checked .thumb {
  margin-left: 16px;
  background-color: var(--primary);
}
.switch.checked material-ripple {
  background-color: var(--on-select-focus);
}
.switch.checked .track:hover .rippler {
  box-shadow: inset 0 0 0 14px var(--on-select-hover);
}
.switch.checked:not(.mouse-focused):focus .rippler {
  box-shadow: inset 0 0 0 14px var(--on-select-focus);
}

.textfield {
  display: inline-block;
  max-width: 280px;
  width: 100%;
  background-color: var(--input-back);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  border-bottom: 1px solid;
  border-color: var(--input-back);
  box-sizing: border-box;
  padding: 0 12px;
  cursor: pointer;
  position: relative;
  transition: background-color .2s var(--go-places);
}
.textfield.single-line {
  height: 56px;
}
.textfield.has-icon {
  width: 312px;
}
.textfield.focused {
  cursor: auto;
}
.textfield:hover {
  background-color: var(--input-hover);
}
.textfield label {
  position: absolute;
  top: 20px;
  color: var(--disabled-text);
  transition: all .2s var(--go-places);
}
.textfield .input {
  pointer-events: none;
  opacity: 0;
  font: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 12px;
  cursor: inherit;
  width: 100%;
  resize: none;
  height: 1em;
  transition: opacity .2s var(--go-places);
}
.textfield.single-line .input {
  position: absolute;
  bottom: 0;
  padding-top: 0;
  margin-bottom: 1px;
  width: calc(100% - 24px);
  padding-top: 26px;
  padding-bottom: 12px;
  margin: 0;
}
.textfield.textarea .input {
  padding: 0;
  height: 4em;
}
.textfield .input:focus {
  outline: none;
}
.textfield.has-icon .input {
  width: calc(100% - 80px);
}
.textfield > span {
  opacity: 0;
  transition: opacity .2s var(--go-out);
}
.textfield > span > span {
  background-color: var(--primary);
  height: 2px;
  position: absolute;
  bottom: -2px;
  --click-x: 50%;
  left: var(--click-x);
  right: calc(100% - var(--click-x));
  transition-property: left, right;
  transition-delay: .2s;
}
.textfield.filled label, .textfield.focused label {
  font-size: 12px;
  top: 8px;
}
.textfield.focused label {
  color: var(--primary);
}
.textfield.filled .input, .textfield.focused .input {
  opacity: 1;
  pointer-events: all;
}
.textfield.focused > span {
  opacity: 1;
  transition: none;
}
.textfield.focused > span > span {
  opacity: 1;
  left: 0;
  right: 0;
  transition-duration: .2s;
  transition-timing-function: var(--go-in);
  transition-delay: 0s;
}
.textfield button {
  font-size: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: none;
  -webkit-appearance: none;
  border: none;
  padding: 0;
}
.textfield svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.textfield path {
  fill: var(--active-icon);
}

ul.menu {
  position: fixed;
  display: inline-block;
  margin: 0;
  padding: 8px 0;
  list-style: none;
  min-width: 112px;
  max-width: 280px;
  background-color: var(--dialogs);
  border-radius: var(--border-radius);
  pointer-events: none;
  transform: scale(0);
  transform-origin: center;
  opacity: 0;
  transition: opacity 75ms var(--go-out), transform 0s 75ms;
}
ul.menu:focus {
  outline: none;
}
ul.menu.open {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms var(--go-in);
}
/* QUESTION: Wrap items? or not? */
ul.menu li {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  height: 48px;
  line-height: 48px;
  padding: 0 16px;
  /* font-size: 14px; */
  cursor: pointer;
}
ul.menu li.selected {
  background-color: var(--off-select-focus);
}
ul.menu.mouse li {
  height: 32px;
  line-height: 32px;
}
.textfield ul.menu {
  transform: scale(0.8);
  transition: opacity 75ms var(--go-out), transform 75ms;
}
.textfield ul.menu.open {
  transform: scale(1);
  transition: opacity 150ms var(--go-in);
}
.textfield ul.menu li {
  padding-left: 12px;
  padding-right: 68px;
}
.textfield ul.menu li:hover {
  background-color: var(--hover);
}
