.period {
  padding: 20px;
  margin: 10px;
  border-radius: 2px;
  position: relative;
  transition: all .2s;
  color: var(--colour);
  fill: var(--colour);
}
.period.open {
  margin: 15px 5px;
  box-shadow: 0 1px 8px rgba(0,0,0,0.3);
}
.period.clear.open {
  box-shadow: none;
}
.period::before {
  content: attr(data-period);
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  font-size: 80px;
  opacity: 0.4;
  margin: 10px 20px;
}
.period .name {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 10px;
  margin: -10px;
  resize: none;
  width: 100%;
  -webkit-appearance: none;
  font-size: 36px;
  margin-bottom: -5px;
  height: 0;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}
.period .name:focus {
  outline: none;
  background-color: rgba(255,255,255,0.3);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.8);
}
.period span {
  display: block;
  width: 100%;
  overflow: hidden;
  font-size: 16px;
  height: 0;
  color: var(--span-colour);
  line-height: 1.2;
  transition: all .2s;
}
.period .previewed {
  height: auto;
}
.period.open span, .period .previewed {
  margin-top: 10px;
}
.period em {
  font-style: normal;
  color: var(--colour);
}
.light {
  --span-colour: rgba(0,0,0,0.64);
  --colour: rgba(0,0,0,0.8);
}
.dark {
  --span-colour: rgba(255,255,255,0.72);
  --colour: rgba(255,255,255,0.9);
}
.period svg {
  width: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  fill: none;
}
.period .note {
  background-color: rgba(255,255,255,0.1);
  border: none;
  resize: none;
  display: block;
  -webkit-appearance: none;
  font: inherit;
  color: inherit;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  padding: 0 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
  height: 0;
  overflow: hidden;
  transition: all .2s;
}
.period.open .note {
  margin-top: 10px;
  padding: 10px;
}
.period ::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.5;
}
.period .note:focus {
  outline: none;
  cursor: auto;
  background-color: rgba(255,255,255,0.3);
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.8);
}
